<h1>Stupid coaching!</h1>

<div class="question">
  <p><%= params[:question] %></p>
  <p>-You</p>
</div>

<div class="answer">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>

<p><%= link_to "Ask", ask_path %></p>
