h1, h2, p {
  font-family: Arial;
}

#ask-button {
  background-color: #377BB5;
  color: white;
  padding: 10px;
}

#input {
  padding: 10px;
  border-radius: 10px;
}

.answer {
  background-color: rgb(220,220,220);
  width: 400px;
}
